.cover {
  background: url("../../images/cover-trains.jpg");
  margin: auto;
  max-width: 1184px;
  max-height: 740px;
  aspect-ratio: 8 / 5;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.cover:hover::before {
  opacity: 0.8;
}
