.cover_margin_bottom {
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .cover_margin_bottom {
    margin-bottom: 85px;
  }
}

@media (max-width: 320px) {
  .cover_margin_bottom {
    margin-bottom: 64px;
  }
}
